.DS_Store
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
PLATEAUData~/
!Documentation~/
Documentation~/*
!Documentation~/user-guide.md
!Documentation~/validation-upm-2026-09-26.md
!Documentation~/validation-editor-2026-09-27.md
!Documentation~/media/
!Documentation~/media/**

!Documentation~/validation-v0.2.0.md
